/* 
    General Styles
*/
body {
    background-image: url("https://wallpapers.com/images/hd/star-wars-lightsaber-y1waxe09citznqi0.jpg");
    background-position: center center;
    background-size: cover;
  }
  